@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url(./assets/images/bg.jpg);
  background-size: 40%;
  background-repeat: repeat;
}

